<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="/static/css/mapartotheque.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Partitions</title>
        <meta name="google" value="notranslate" /> 
        <link rel="manifest" href="/manifest.json" />
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="iamge/x-icon" />
    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-lg">
            <a class="navbar-brand" href="/">Tunes</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-link"><a href="/home/sessions">Serie Tunes</a></li>                 
                </ul>
                {% block navbar%}
                <form class="form-inline my-2 my-lg-0" onsubmit="javascript: search(); return false;">
                    <input class="form-control mr-sm-2" placeholder="Search" id="searchItem" type="text">
                    <button type="button" class="btn btn-default my-2 my-sm-0" onclick="search()">Search</button>
                </form>
                {% endblock %} 
            </div>
        </nav>	
        {% block content %}
        {% endblock %}	
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/mapartotheque.js')}}"></script>
    </body>
</html>