{% extends "base.html" %}
{% block navbar %}
<ul class="nav navbar-nav  navbar-right">
	<li>
		<a class="" href="/home/download/{{tune.pdf_file}}?file_name={{tune.titre}}" download="{{tune.titre}}.pdf">
			<i class="material-icons">save_alt</i>
			PDF
		</a>
	</li>
</ul>
{% endblock %}
{% block content %}
<div class="container body-content">
	<div class="plain" id="view">
		<h3 class="tune">{{tune.titre}}</h3>
		<img id="myImg" src="/images/{{tune.image_file}}" width="600"></img>
	</div>
	<script type="text/javascript">
		function to_execute() {
			var width=$("#view").width();
			$("#myImg").width(width);
			$(window).resize(function() {
				var width=$("#view").width();
				$("#myImg").width(width);
			});
		};
	</script>
</div>
{% endblock %}